atomicwrites
attrs
beautifulsoup4
certifi
chardet
Click
colorama
Flask
Flask-Cors
idna
importlib-metadata
itsdangerous
Jinja2
MarkupSafe
more-itertools
nltk
packaging
pluggy
py
pyparsing
pytest
requests
six
soupsieve
summarizer
urllib3
wcwidth
Werkzeug
zipp